	<div class="col-md-6 col-md-offset-3" id="growls">
		<form name="form_item" id="form_item" action="/homepage" method="post">
			<input type="text-area" placeholder="Add your growl here" name="newGrowl" id="composetweet" maxlength="142">
			<input type="submit" class="btn btn-growl" value="GROWL">
		</form>
			<h2>Your Growls</h2>

		<ul id="growlList">
			<% @growlHistory.each do |item| %> 
			<div id="listitem">
				<li> <%= item %> </li>
			</div>
			<% end %>
				<img src="http://thecatapi.com/api/images/get?format=src&type=gif" id="catgif"></a>
			</div>
		</ul>	
