<!doctype>
<html>
<head>
	<title>Best Damn Growler</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	
	<header>
		<!-- Best Damn Growler -->
	</header>

	<h1>Hello, <%= @name %> </h1>

	<%= yield %>

	<footer>
		<!-- Copyright Luke and Charlie; aka fuck you Zuck -->
	</footer>

</body>
</html>