<!doctype>
<html>
<head>
	<title>Best Damn Growler</title>
</head>
<body>

<h1>Hello, <%= @name %> </h1>

	<header>
		<!-- Best Damn Growler -->
	</header>

	<%= yield %>

	<footer>
		<!-- Copyright Luke and Charlie; aka fuck you Zuck -->
	</footer>

</body>
</html>