<title>Growl Entry</title>
<h1>Hello, <%= @name %> </h1>
<h2>Enter your latest Growl below</h2>

<form name="form_item" id="form_item" action="/add_item" method="post">
	<input type="text" placeholder="Add your growl here" name="item_name" id="item_name">
	<input type="submit" value="Growl to the World">
</form>