<title>Growl Entry</title>
<h2>Enter your latest Growl below</h2>

<form name="form_item" id="form_item" action="/homepage" method="post">
	<input type="text-area" placeholder="Add your growl here" name="newGrowl" id="composetweet" maxlength="142">
	<input type="submit" class="btn btn-growl" value="GROWL">
</form>