<title>Growl Entry</title>
<h2>Enter your latest Growl below</h2>

<form name="form_item" id="form_item" action="/homepage" method="post">
	<input type="text" placeholder="Add your growl here" name="newGrowl" id="item_name">
	<input type="submit" value="Growl to the World">
</form>